@model WebApplication1.Models.Author

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Author</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="back-to-list">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<style>
    body {
        color: #FFFAFA;
    }

    h1 {
        color: #BC8F8F;
        font-size: 40px;
        text-transform: uppercase;
    }

    h4 {
        color: #BC8F8F;
        font-size: 30px;
        text-transform: uppercase;
    }

    .form-group .btn btn-primary {
        color: white;
        background-color: #BC8F8F;
    }

    .back-to-list {
        color: #BC8F8F;
    }
</style>