@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="https://www.skoolbeep.com/blog/wp-content/uploads/2020/12/WHAT-IS-THE-PURPOSE-OF-A-LIBRARY-MANAGEMENT-SYSTEM-min.png"/>
  
  </div>
<style>
    body {
        background: #FFFAFA;
    }
    
    img{
        width:100%;
        height:500px;
    }
</style>
