@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    At UBT Library, we care about the privacy of the people who use our Services, and this policy explains how we deal with the personal information that you give us.

    This policy applies to all interactions you may have with the UBT Library, for example visiting our website, using our systems (such as our free wifi), or visiting our buildings. Depending upon which of our Services you use or how you contact us, we may also need to provide you with additional information about the use of your personal information – this extra information can be found on the Service specific pages linked to on the right of this page.
</p>
<style>
    p {
        color: #BC8F8F;
       }
    h1 {
        color: #BC8F8F;
    }
</style>